/* Define para todo documento HTML as propriedades */
* { 
    margin: 0;
    padding: 0;
}

/* Define para a CLASS CABECALHO as propriedades */
.cabecalho { 
    background-color: #212c68;
    color: white;
    display:flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 25%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 32px;
    padding: 48px 0;
    font-size: 32px;
}

.programacao {
    background-image: linear-gradient(#212c68,#0375d1);
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.programacao-titulo {
    padding: 24px 0;
}

.programacao-imagem {
    width: 30%;
}

.programacao-conteudo {
    width: 50%;
}