/* Define para todo documento HTML as propriedades */
* { 
    margin: 0;
    padding: 0;
}

/* Define para a TAG HEADER as propriedades */
header { 
    background-color: #383D58;
    color: white;
}

/* Define para a CLASS CABECALHO as propriedades */
.cabecalho { 
    background-color: #383D58;
    color: white;
    display:flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 32px;
    padding: 48px 0;
    font-size: 48px;
}

/* Define para a TAG BODY as propriedades */
body { 
    background-color: #383D58;
    color: white;
}

/* Define para a TAG BODY as propriedades */
footer { 
    background-color: #383D58;
    color: white;
}
